# Predicting Heart Failure

In [67]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [68]:
set.seed(1)

In [69]:
heart_failure <- read_csv("heart_failure_clinical_records.csv") %>% as_tibble()
heart_failure

Parsed with column specification:
cols(
  age = col_double(),
  anaemia = col_double(),
  creatinine_phosphokinase = col_double(),
  diabetes = col_double(),
  ejection_fraction = col_double(),
  high_blood_pressure = col_double(),
  platelets = col_double(),
  serum_creatinine = col_double(),
  serum_sodium = col_double(),
  sex = col_double(),
  smoking = col_double(),
  time = col_double(),
  DEATH_EVENT = col_double()
)

    age anaemia creatinine_phosphokinase diabetes ejection_fraction
1   75  0        582                     0        20
2   55  0       7861                     0        38
3   65  0        146                     0        20
⋮   ⋮   ⋮       ⋮                        ⋮        ⋮
297 45  0       2060                     1        60
298 45  0       2413                     0        38
299 50  0        196                     0        45
    high_blood_pressure platelets serum_creatinine serum_sodium sex smoking
1   1                   265000    1.9              130          1   0
2   0                   263358    1.1              136          1   0
3   0                   162000    1.3              129          1   1
⋮   ⋮                   ⋮         ⋮                ⋮            ⋮   ⋮
297 0                   742000    0.8              138          0   0
298 0                   140000    1.4              140          1   1
299 0                   395000    1.6              136          1   1
    time DEATH_EVENT
1   4    1
2   6    1
3   7    1
⋮   ⋮    ⋮
297 278  0
298 280  0
299 285  0

In [61]:
heart_failure_split <- initial_split(heart_failure, prop = 0.75, strata = DEATH_EVENT)
heart_failure_train <- training(heart_failure_split)
heart_failure_test <- testing(heart_failure_split)

In [62]:
glimpse(heart_failure_train)

Rows: 225
Columns: 13
$ age                      <dbl> 75, 65, 50, 65, 90, 75, 60, 65, 80, 75, 62, …
$ anaemia                  <dbl> 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,…
$ creatinine_phosphokinase <dbl> 582, 146, 111, 160, 47, 246, 315, 157, 123, …
$ diabetes                 <dbl> 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,…
$ ejection_fraction        <dbl> 20, 20, 20, 20, 40, 15, 60, 65, 35, 38, 25, …
$ high_blood_pressure      <dbl> 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,…
$ platelets                <dbl> 265000, 162000, 210000, 327000, 204000, 1270…
$ serum_creatinine         <dbl> 1.9, 1.3, 1.9, 2.7, 2.1, 1.2, 1.1, 1.5, 9.4,…
$ serum_sodium             <dbl> 130, 129, 137, 116, 132, 137, 131, 138, 133,…
$ sex                      <dbl> 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,…
$ smoking                  <dbl> 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,…
$ time                     <dbl> 4, 7, 7, 8, 8, 10, 10, 10, 10, 10, 10, 11, 1…
$ DEATH_EVENT              <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,…

In [64]:
heart_failure <- heart_failure %>%
  mutate(DEATH_EVENT = as_factor(DEATH_EVENT))

heart_failure <- heart_failure %>%
  ggplot(aes(x = ejection_factor, y = platelets, color = DEATH_EVENT)) +
  geom_point(alpha = 0.6) +
  labs(x = "Ejection Factor", 
       y = "PLatelets",
       color = "If they die") +
  scale_color_manual(labels = c("Die", "Don't Die"), +
  theme(text = element_text(size = 12))
heart_failure

ERROR: Error in parse(text = x, srcfile = src): <text>:12:1: unexpected symbol
11:   theme(text = element_text(size = 12))
12: heart_failure
    ^